/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1d69f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(10, 5, 5);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(9deg);
  }
  to {
    transform: rotate(500deg);
  }
} */

a{
  text-decoration: none;
  margin-left:40px;
}


#myul1{
  list-style: none;
  display: flex;
  margin-left: 500px;
}
#myul2
li{
  list-style: none;
  margin-top:20px;
  margin-bottom: 30px;
  margin-top:50px;

}
img{
   width:20%;
   margin-left: 50px;
   padding-left:100px ;
  
}


